h1 {
  color: rgb(5, 38, 23);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color:rgb(59, 82, 20);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 200%;
}
